
<div class="panel panel-default">
  <div class="panel-heading">
    <h3> <%= resume.user.email %></h3>
  </div>
  <div class="panel-body">
    <p><%= simple_format(resume.content)%>
    </p>
    <hr>
    <% if resume.attachment.present? %>
      <i class="fa fa-paperclip"></i>
      <%= link_to("Download Resume", resume.attachment_url)%>
    <% else %>
      No Attachment
    <% end %>
  </div>
</div>
